/* header {
 background-color: #101111
 text: #f5f5f5
} */

header {
    background-color: #000000;
    color: #f5f5f5;
    text-align: center;
    
}

main {
   background: linear-gradient( gray, white);
   padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0px;
  }